@charset "utf-8";
* {
    margin: 0;
    padding: 0
}

html, body {
    width: 100%;
    font-size: 12px;
    font-family: microsoft yahei
}

ul {
    list-style: none
}

a {
    text-decoration: none
}

.auto-box {
    width: 100%;
    height: auto;
    padding: 30px 0 40px;
    background: #fff
}

.main-box {
    max-width: 1200px;
    height: auto;
    margin: 0 auto
}

.index-tit {
    padding: 40px 0;
    text-align: center
}

.index-tit h1 {
    font-size: 30px;
    color: #363f45;
    font-weight: 400
}

.index-tit p {
    font-size: 20px;
    color: #abb0b4;
    padding-top: 15px
}

.index-tserver {
    width: 100%;
    background: url(../images/360server-line.png) no-repeat center 125px;
    box-sizing: border-box;
    text-align: center;
    padding: 0 2.6%
}

.index-tserver li {
    width: 24.8%;
    min-width: 162px;
    height: 162px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 106px;
    font-size: 14px;
    color: #656d73;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: -.1%
}

.index-tserver li.tserver-list1 {
    background: url(../images/360server-icon1.png) no-repeat center top
}

.index-tserver li.tserver-list2 {
    background: url(../images/360server-icon2.png) no-repeat center top
}

.index-tserver li.tserver-list3 {
    background: url(../images/360server-icon3.png) no-repeat center top
}

.index-tserver li.tserver-list4 {
    background: url(../images/360server-icon4.png) no-repeat center top
}

.index-tserver li.tserver-list5 {
    background: url(../images/360server-icon5.png) no-repeat center top
}

.index-tserver li.tserver-list6 {
    background: url(../images/360server-icon6.png) no-repeat center top
}

.index-tserver li.tserver-list7 {
    background: url(../images/360server-icon7.png) no-repeat center top
}

.index-tserver li p {
    width: 162px;
    height: 162px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -81px;
    border-radius: 81px;
    padding: 40px 30px;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    background: linear-gradient(111deg, #04bde4, #1067fe);
    display: none
}

.index-tserver li p a {
    color: #fff
}

.index-tserver li p.animated {
    animation-duration: .5s;
    animation-fill-mode: both
}

.index-tserver li:hover p {
    display: block
}

.zoomin {
    animation-name: zoomin
}

@keyframes zoomin {
    0% {
        opacity: 0;
        transform: scale(.3)
    }
    50% {
        opacity: 1
    }
}